*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(255, 189, 35);
}

h1 {
  font-family:fantasy;
  text-align: center;
  font-size: 6em;
  color: rgb(255, 255, 255);
}

form {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 3em;
  color: rgb(255, 255, 255);
}
section {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 30em;
  margin-right: 30em;
  border-style: dashed;
  border-width: .5em;
  border-color: rgb(255, 136, 0);
  text-align: center;
}

button {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 2em;
}

all-players-container {
  height: 5em;
  width: 5em;
}

img {
  height: 20em;
  width:20em
}